<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="mt-3">Hello SW!</h1>

    <p>
        This is one hell of a demo.
    </p>
    <hr>
    <form class="w-75 mb-5 d-flex justify-content-center align-items-center" style="height: 100px">
        <div class="col-8">
            <textarea class="form-control" rows="4" style="max-height: 100px;"></textarea>
        </div>
        <div class="submit-button col-4">
            <button class="w-100 h-100 btn btn-primary" type="button">ADD</button>
        </div>
    </form>

    <section class="box">
        <div class="card">
            <div class="card-body">
                Some stuff
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Some stuff
            </div>
        </div>
    </section>
</div>